backend:
  type: elastic
  connection:
  {%- for node in elasticsearch.hosts %}
    - host: {{ node.host }}
      port: {{ node.port }}
  {%- endfor -%}
regions:
{%- for region in availability.regions %}
  - name: {{ region.name }}
    services:
    {%- for service in region.services -%}
      - name: {{ service.name }}
        url: {{ service.url }}
    {%- endfor -%}
{%- endfor %}

period: {{ availability.watcher.period }}
connection_timeout: {{ availability.watcher.connection_timeout }}
read_timeout: {{ availability.watcher.read_timeout }}
